*{
    box-sizing:border-box;
}

body{
    background-color: blue;
    color: white;
}

@media screen and (max-width:500px){
    /*Any screen resolution from 0-500px wide*/
    body{
        background-color: red;
        font-size: 130%;
    }
}
@media screen and (max-width: 400px){
   body{
    background-color: yellow;
    color:black
   }
}